/* Үндсэн стайлууд */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    background-color: cornflowerblue;
    text-align: center;
    margin-top: 350px;
    padding: 1rem;
}

/*menu стайлууд*/
.menu{
    text-align: center;
    border-bottom: 1px solid gray;
}
.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

.menu ul li a{
    color: #ff6b81;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #ff4757;
}

/* body хэсгийн стайлууд */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col{
    width: 20%;
    background-color: #fff;
    margin: 1%;
    padding: 2%;
}

.admin-items{
    display: flex;
    
}

/***/
.admin-table{
    width: 100%;

}

.admin-table tr th{
border-bottom: 1px solid gray;
padding: 1%;
text-align: left;
}

.admin-table tr td{
    padding: 1%;
}
.add-admin{
    background-color: #1e90ff;
    padding: 1%;
    color: #f1f2f6;
    text-decoration: none;
}

.add-admin:hover{
    background-color: #3742fa;
}

.update-admin{
    background-color: #00FF60;
    padding: 1%;
    color: #f1f2f6;
    text-decoration: none;
}

.update-admin:hover{
    background-color: #008031;
}

.delete-admin{
    background-color: #f71100;
    padding: 1%;
    color: #f1f2f6;
    text-decoration: none; 
}

.delete-admin:hover{
background-color: #8b0900;
}

/*нэмсэн админы мэдээллийг харах*/
.admin-add-table{
    width: 30%;
}